*{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}
h1{
    font-size: 35px;
    margin-top: 50px;
    color: rgb(0, 204, 0);
}
p{
    font-size: 20px;
    margin-top: -20px;
    color: rgb(0, 204, 0);
}
button{
    font-size: 16px;
    color: rgb(0, 204, 0);
    background-color: rgb(0, 204, 0);
    margin-bottom: 30px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border-color: rgb(0, 204, 0);
    border-style: dotted;
    border-radius: 10px;
    width: 15%;
    height: 35px;
    transition: 0.5s;
}
button:hover{
    border-color: black;
    background-color: rgb(0, 204, 0);
    color: black;
}

@media only screen and (max-width: 600px){
    h1{
        margin-left: 10%;
        margin-right: 10%;
    }
    button{
        width: 40%;
        height: 35px;
    }
    p{
        margin-left: 10%;
        margin-right: 10%;
    }
}